<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netra | ChamaDash</title>
    <link rel="shortcut icon" href="static/images/faviconNetra.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script type="module" src="static/script.js"></script>
</head>

<body>
    <main>
        <div class="mainDiv">
            <form method="post" enctype="multipart/form-data" id="uploadForm">
                <label class="label-file-upload">
                    <input type="file" name="archive" id="fileInput" accept=".csv,.slk,.xlsx">
                    <i class="fa-solid fa-upload" id="upload-icon"></i>
                    <span>
                        Segure e solte arquivos ou <b
                            style="color: var(--button); text-decoration: underline 2px">Procure</b>.
                    </span>
                    <span class="grayText" id="selected_archive">Formatos suportados: .slk, .csv, .xlsx</span>
                </label>
                <button type="submit" class="submit-button">Enviar</button>
            </form>
        </div>

        <div class="dashboardContainer" id="painelDashboard">
            <div class="dashboard-header">
                <div class="header-info">
                    <h1 class="dashboard-title">ChamaDash</h1>
                </div>
                <div class="header-actions">
                    <button class="btn-new" id="btnNewFile">
                        <i class="fa-solid fa-file-arrow-up"></i>
                        Novo Dashboard
                    </button>
                    <button class="btn-download" id="btnDownloadExcel">
                        <i class="fa-solid fa-download"></i>
                        Baixar Excel
                    </button>
                    <button class="btn-new" id="btnGenReport">
                        <i class="fa-solid fa-file-arrow-up"></i>
                        Gerar Relatório
                    </button>
                </div>
            </div>
            <div class="chart-card span-4">
                <h3 class="chart-title">1. Distribuição por Tipo</h3>
                <div class="canvas-wrapper"><canvas id="graficoTipo"></canvas></div>
            </div>
            <div class="chart-card span-4">
                <h3 class="chart-title">2. Incidentes por Prioridade</h3>
                <div class="canvas-wrapper"><canvas id="graficoIncidentes"></canvas></div>
            </div>
            <div class="chart-card span-4">
                <h3 class="chart-title">3. Solicitações por Prioridade</h3>
                <div class="canvas-wrapper"><canvas id="graficoSolicitacoes"></canvas></div>
            </div>

            <div class="chart-card span-6">
                <h3 class="chart-title">🏆 Gráfico - Top 10 Categorias</h3>
                <div class="canvas-wrapper"><canvas id="graficoCategorias"></canvas></div>
            </div>
            <div class="chart-card span-6">
                <h3 class="chart-title">🏢 Gráfico - Top 10 Setores</h3>
                <div class="canvas-wrapper"><canvas id="graficoSetores"></canvas></div>
            </div>

            <div class="chart-card span-6">
                <h3 class="chart-title">🛠️ Gráfico - Grupo Técnico</h3>
                <div class="canvas-wrapper scrollable-y">
                    <canvas id="graficoTecnicos"></canvas>
                </div>
            </div>
            <div class="chart-card span-6">
                <h3 class="chart-title">⏱️ Gráfico - SLA Geral</h3>
                <div class="canvas-wrapper"><canvas id="graficoSLA"></canvas></div>
            </div>

        </div>
    </main>
    
    <div class="toastContainer">
        <i class="fa-solid" id="icon"></i>
        <span id="toastAdvise"></span>
    </div>
</body>

</html>